<h2>User Filters</h2>
<div class="row justify-content-lg-center">
    <!--Filters Radio Option-->
    <p style="margin-right: 1em;" for="inputState">Filtros para Género:</p>
    <div class="form-check form-check-inline">
        <input class="form-check-input"
        type="radio"
        (change)="itemRadioSelected()"
        [(ngModel)]="selectedItem"
        name="selectedItem"
        id="inlineRadio1"
        value="M">
        <label class="form-check-label" for="inlineRadio1">Masculino: {{countUserMale}} </label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input"
        type="radio"
        (change)="itemRadioSelected()"
        [(ngModel)]="selectedItem"
        name="selectedItem"
        id="inlineRadio2" 
        value="F">
        <label class="form-check-label" for="inlineRadio2">Femenino: {{countUserFemale}} </label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input"
        type="radio"
        (change)="itemRadioSelected()"
        [(ngModel)]="selectedItem"
        name="selectedItem"
        id="inlineRadio3"
        value="T">
        <label class="form-check-label" for="inlineRadio3">Todos: {{countUserMale + countUserFemale}} </label>
      </div>
      <p style="margin-right: 1em;" for="inputState">Filtros para Dependencia:</p>
      <div class="form-check form-check-inline">
        <input class="form-check-input"
        type="radio"
        (change)="itemRadioSelected()"
        [(ngModel)]="selectedItem"
        name="selectedItem"
        value="PROGRAMACION"
        id="inlineRadio4">
        <label class="form-check-label" for="inlineRadio4">PROGRAMACION: {{countUserProgramming}} </label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input"
        type="radio"
        (change)="itemRadioSelected()"
        [(ngModel)]="selectedItem"
        name="selectedItem"
        value="PSICOLOGIA"
        id="inlineRadio5">
        <label class="form-check-label" for="inlineRadio5">PSICOLOGIA: {{countUserPsicology}} </label>
      </div>
      <!--End Filters Radio-->
      <!--Filters Dependency Option-->
      <!--div class="form-group col-lg-3">
        <label for="inputState">Dependencia</label>
        <select id="inputState" class="form-control">
          <option selected>Seleccionar</option>
          <option
          (change)="itemRadioSelected()"
        [(ngModel)]="selectedItem"
        name="selectedItem"
        value="PROGRAMACION"
          >PROGRAMACION: {{countUserProgramming}} </option>
          <option
          (change)="itemRadioSelected()"
        [(ngModel)]="selectedItem"
        name="selectedItem"
        value="PSICOLOGIA"
          >PSICOLOGIA: {{countUserPsicology}} </option>
        </select>
      </!--div>
      <!--End Filters Dependency-->
</div>
