<div class="container">
    <app-count-user [countUserMale]="sendCountMale()" [countUserFemale]="sendCountFemale()"
        [countUserProgramming]="sendCountProgramming()" [countUserPsicology]="sendCountPsicology()"
        (typeOptionEvent)="getDataChild($event)"></app-count-user>
    <h5>Lista de Usuarios</h5>
    <div class="row">
        <div class="container-table">
            <div class="col-lg-12">
                <table class="table table-hover table-inverse table-responsive">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">Edad</th>
                            <th scope="col">Género</th>
                            <th scope="col">Dependencia</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let user of listUsers">
                            <tr
                                *ngIf="getSelectedType === 'T' || user.genero === getSelectedType || user.dependencia === getSelectedType">
                                <td scope="row"> {{user.nombre}} </td>
                                <td class="tede-edad"> {{user.edad}} </td>
                                <td class="tede-genero"> {{user.genero}} </td>
                                <td> {{user.dependencia}} </td>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>